<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="main-up">
                <h2>問題<h2>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-icon">
                    </div>
                    <div class="card-content">
                        <p class="card-text"><%= @post.content %></p>
                        <hr>
                        <h3 class="card-text">ヒント1：<%= @post.hint01 %></h3>
                        <h3 class="card-text">ヒント2：<%= @post.hint02 %></h3>
                        <h3 class="card-text">ヒント3：<%= @post.hint03 %></h3>
                    </div>
                    <hr>
                    <div class="hidden_box">
                        <label for="label1">さらにヒント表示</label>
                        <input type="checkbox" id="label1"/>
                        <div class="hidden_show">
                            <%= render partial: 'comments/index', locals: { comments: @comments } %>
                        </div>
                    </div>
                    <hr>
                    <% if user_signed_in? && current_user.id == @post.user_id %>
                            <div>
                                <%= link_to "編集する", edit_post_path, class: "btn btn-primary" %>
                                <%= link_to "削除する", @post, class: "btn btn-danger", method: :delete, data: { confirm: "削除しますか？"} %>
                            </div>
                    <% end %>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-content">
                        <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
                    </div>
                </div>
            </div>
    </div>
</div>

